<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>My test page</title>
  </head>
  <body>
    <h1>Applicants</h1>
    <table>
        <thead>
            <tr>
                <th>Job</th>
                <th>Applicant Name</th>
                <th>Email Address</th>
                <th>Website</th>
                <th>Skills</th>
                <th>Cover Letter Paragraph</th>
            </tr>
        </thead>
        <tbody>
                {% for applicant in applicant_list %}
                <tr>
                    <td>{{ applicant.job.name}}</td>
                    <td>{{ applicant.name}}</td>
                    <td>{{ applicant.email}}</td>
                    <td>{{ applicant.website}}</td>
                    
                    <td>
                        {% for skill in applicant.skills_set.all %}
                        {{ skill.name}}
                        {% endfor %}
                    </td>
                    <td>{{ applicant.cover_letter}}</td>
                
                </tr>
                {% endfor %}
        </tbody>
    </table>
  </body>
</html>